*{
    margin: 0;
}
h5{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
@font-face {
    font-family: 'sourcesanspro';
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src: url(https://design.penpot.app/fonts/sourcesanspro-bold.woff) format('woff');
  }
body{
    background-color:#181818;
    display: flex;
    justify-content: center;
}
#event-details{
    height:100vh;
    width: 100%;
    max-width: 686px;
    margin: 0 10px;
}
#event-details nav.head{
    display: flex;
    height: auto;
    border-bottom: 2px solid #fff;
    justify-content: space-between;
    align-items: end;
    padding: 7px 0;
    margin: 26px 0;
    border-bottom: 2px solid #fff;
}
#event-details nav.head h1{
    font-family: sourcesanspro;
    font-size:36px;
    font-weight:bold;
    color: #fff;
}
#event-details nav.head span{
    font-size: 20px;
    color: white;
}
#event-details{
    height:100vh;
    width: 100%;
    max-width: 686px;
    margin: 0 10px;
}
.event-card{
    display: flex;
    border: 1px solid gray;
    background: linear-gradient(90deg, rgb(133, 106, 145) 0%, rgb(30, 80, 66) 100%);
    backdrop-filter: saturate(180%) blur(10px);
    height: 165px;
    width: auto;
    border-radius: 4px;
    padding:15px;
    gap: 10px;
    margin-top: 20px;
 }
  .event-card div.img{
    border: 1px solid #fff;
    height: 100%;
    aspect-ratio: 3/4;
    border-radius: 6px;
 }
 .event-card div.details{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
 }
  .event-card div.details div.fund{
    border-top: 1px solid #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    height: 24px;
    align-items: center;


 }
  .event-card div.details div.fund span{
    color: #fff;
    font-size: 14px;
    font-weight: 200;
 }
