#event-add{
    height:100vh;
    width: 100%;
    max-width: 686px;
    margin: 0 10px;
}
#event-add nav.head{
    display: flex;
    width: 100%;
    color: #fff;
    border-bottom: 2px solid white;
    justify-content: space-between;
    align-items: center;
}
#event-add nav.head span{
    font-size: 14px;
    font-weight: 400;
}
#event-add section{
    padding: 20px 0;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 
    
}
.inputContainer input{
    border: 1px solid white;
    border-radius: 4px;
    background-color:#181818;
    padding: 10px 0;

}

.inputContainer label{
    font-size: 18px;
    font-weight: 400;
    color: #aeaeae;
}
.event-name{
    width: 300px;

}
.event-date{
    width: 300px;
}
.deadline-date{
    width: 300px;
}
.event-date input{
    color: #fff ;
    text-align: center;
}

.description input{
    width: 500px;
    height: 200px;
    
}
.four{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}
.four .item input{
    width:80%;
    
}
.inputContainer select{
    
    border: 1px solid white;
    border-radius: 4px;
    background-color:#181818;
    padding: 10px 0;

}
.inputContainer select option{
    color: #fff;
}
#event-add section{
    border-bottom: 2px solid #fff;
    padding: 20x 0;
}
.button{
   display: flex;
   justify-content: end;
}
.button a{
    text-align: center;
    padding: 4px 10px ;
    background: #338440;
    border-radius: 4px;
    color: #fff;
    width: 80px;
    margin-top: 20px;
}

