#event-details {
   height: 100vh;
   width: 100%;
   max-width: 686px;
   margin: 0 10px;
}
#event-details nav.head {
   display: flex;
   height: auto;
   border-bottom: 2px solid #fff;
   justify-content: space-between;
   align-items: end;
   padding: 7px 0;
   margin: 26px 0;
   border-bottom: 2px solid #fff;
}
#event-details nav.head h1 {
   font-size: 36px;
   font-weight: bold;
   color: #fff;
}
#event-details nav.head span {
   font-size: 20px;
   color: white;
}
#event-details {
   height: 100vh;
   width: 100%;
   max-width: 686px;
   margin: 0 10px;
}
.event-card {
   display: flex;
   border: 1px solid gray;
   background: linear-gradient(
      90deg,
      rgb(133, 106, 145) 0%,
      rgb(30, 80, 66) 100%
   );
   backdrop-filter: saturate(180%) blur(10px);
   height: 165px;
   width: auto;
   border-radius: 4px;
   padding: 15px;
   gap: 10px;
   margin-top: 20px;
}
.event-card div.img {
   border: 1px solid #fff;
   height: 100%;
   aspect-ratio: 3/4;
   border-radius: 6px;
}
.event-card div.details {
   display: flex;
   flex: 1;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
   color: rgb(255, 196, 221);
}

.event-card div.details div.fund {
   border-top: 1px solid #fff;
   position: relative;
   display: flex;
   justify-content: space-between;
   padding: 0 4px;
   height: 24px;
   align-items: center;
}
.event-card div.details div.fund span {
   color: #fff;
   font-size: 14px;
   font-weight: 200;
}
.student-details {
   margin-top: 20px;
}
.student-details .head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid white;
   padding: 7px 0;
}
.student-details .head .left h3 {
   font-size: 24px;
   font-weight: 400;
}
.student-details .head .right {
   display: flex;
}
.student-details .head .right .button {
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   padding: 2px 10px;
   background-color: #363232;
   border-radius: 4px;
   margin-right: 10px;
}
.student-details .head .right .button:last-child {
   margin-right: 0;
}
.student-details .head .right .active {
   background: #41b458;
}

.student-list {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-top: 20px;
}
.branch-list{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.batch-list{
   display: flex;
   flex-direction: column;
   gap: 5px;

}
.student-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 38px;
   padding: 4px 10px;
   background: #363232;
   border-radius: 8px;
}
.student-item .left {
   width: 100%;
   display: flex;
}
.student-item .left span {
   color: #fff;
   font-size: 18px;
   font-weight: 300;
}
.student-item .left span.admno {
   flex: 1;
}
.student-item .left span.name {
   flex: 3;
}
.student-item .left span.fund {
   flex: 1;
}
.student-item .right span input {
   transform: scale(1.5);
   margin-right: 5px;
}
.search-bar {
   width: 100%;
   max-width: 686px;
   position: fixed;
   bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: end;
   height: 30px;
}
.search-bar input {
   flex: 1;
   height: 100%;
   padding: 0 10px;
   margin-right: 5px;
   border-radius: 8px;
   border: none;
   display: none;
}
.search-bar .button {
   width: 32px;
   aspect-ratio: 1/1;
   display: flex;
   background-color: #fff;
   border-radius: 8px;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.search-bar .button.span {
   width: 32px;
   display: block;
}
