body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#login{
    width: 368px;
    height: 280px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
}
.container{
    margin-top: 20px;
}
.container .input-container{
    display: flex;
    flex-direction: column;
    padding: 5px 0;

}
.container .input-container label{
    font-size: 18px;
    font-weight: 400;
    color: #aeaeae;
}
.container .input-container input{
    border: 1px solid #aeaeae;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px 0;

}
 .bottom{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:20px;
}
 .bottom a{
    color:#868686 ;
    font-size: 14px;
    font-weight: 400;
    width:300px;
}
.bottom .button a{
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    background: #40AB51;
}
div.bottom  a:hover{
    transition: color 0.3s; 
    color: white; 

}