@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
}
body{
    background-color:#181818;
    display: flex;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
}
h1{
    font-size:36px;
    font-weight:bold;
    color: #fff;
}
h3{
    color:#fff;
    font-size: 36px;
    font-weight: bold;
} 
.line{
    background-color: white;
    width: 100%;
    flex: 1;
    height: 1px;
}
h5{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
a{
    text-decoration: none;
}