<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new event</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/event-add.css">
</head>
<body>
    <section id="event-add">
        <nav class="head">it
            <h1>Create Event</h1>
            <span>{{user.admno}}</span>
        </nav>

        <section>
            <div class="inputContainer event-name">
                <label for="name">Event Name</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="inputContainer event-date">
                <label for="date">Event date</label>
                <input type="date" id="date" name="date">
            </div>
            <div class="inputContainer deadline-date">
                <label for="deadline">Deadline date</label>
                <input type="text" id="deadline" name="deadline">
            </div>
            <div class="inputContainer description">
                <label for="description">Description</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="inputContainer four">
                <div class="participant item">
                    <label for="participants">Participants</label>
                    <input type="text" id="participants" name="participants">
                </div>
                <div class="required-fund item">
                    <label for="req_fund">Required Fund</label>
                    <input type="text" id="req_fund" name="req_fund">
                </div>
                <div class="acquired-fund item">
                    <label for="acq_fund">Acquired Fund</label>
                    <input type="text" id="acq_fund" name="acq_fund">
                </div>
                <div class="fund-pps item">
                    <label for="pps_fund">Fund PPS</label>
                    <input type="text" id="pps_fund" name="pps_fund">
                </div>
            </div>
            <div class="inputContainer">
                <label for="batch">Batches </label>
                <select name="batch" id="batch">
                    <option value="" disabled selected>Select Batches</option>
                    <option value="2021-2025">2021-2025</option>
                    <option value="2022-2026">2022-2026</option>
                    <option value="2023-2027">2023-2027</option>
                    <option value="2024-2028">2024-2028</option>
                </select>
                <label for="branch">Branches </label>
                <select name="branch" id="branch">
                    <option value="" disabled selected>Select Branches</option>
                    <option value="AI/DS">AI/DS</option>
                    <option value="AI/ML">AI/ML</option>

                </select>
            </div>
            <div class="inputContainer">
                <label for="manager">Manager</label>
                <select name="" id="manager">
                    <option value=""></option>
                </select>
              
            </div>
            
        </section>

        <div class="button">
           <a href="">Save</a>
        </div>
</body>
</html>