<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Manager</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/home.js"></script>
    <script src="/static/home.js"></script>
</head>
<body>
    <section id="home">
        <nav class="head">
            <h1>Events</h1>
            <a href="">
                <div class="button">
                    New Event
                </div>
            </a>
        </nav>

        <section class="events">
            <div class="event-sublist">
                <div class="sublist-head">
                    <div class="line"></div>
                    <h3 class="heading">Upcoming Events</h3>
                    <div class="line"></div>
                </div>

                <div class="event-list">
                    {% for event in events %}
                        <a href="/details/{{event.id}}">
                            <div class="event-card">
                                <div class="img"><img src="" alt=""></div>
                                <div class="details">
                                    <div style="display: flex; flex-direction: column;">
                                        <h5>{{event.name}}</h5>
                                        <span>Date: {{event.date}}</span>
                                        <span>Deadline: {{event.deadline}}</span>
                                        <p>{{event.description}}</p>
                                    </div>
                                    <div class="fund">
                                        <span>Fund</span>
                                        <span>{{event.acquired_fund}}/{{event.required_fund}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>

    
</body>
</html>